    <script type="text/javascript">
      about.hide();
      hashTags.hide();
      usersMentioned.hide();
      date.hide();
      heatMap.hide();
      circleMap.hide();


      function showStuff(element)  {
        var about = $('#About');
        var hashTags = $('#Hashtags');
        var usersMentioned = $('#UsersMentioned');
        var date = $('#Date');
        var heatMap = $('#HeatMap');
        var circleMap = $('#CircleMap');
        if(element === "About"){
          hashTags.hide();
          about.show();
          usersMentioned.hide();
          date.hide();
          heatMap.hide();
          circleMap.hide();
        }else if(element === "Hashtags"){
          hashTags.show();
          about.hide();
          usersMentioned.hide();
          date.hide();
          heatMap.hide();
          circleMap.hide();     
        }else if(element === "Date"){
          hashTags.hide();
          about.hide();
          usersMentioned.hide();
          date.show();
          heatMap.hide();
          circleMap.hide();
        }else if(element === "HeatMap"){
          hashTags.hide();
          about.hide();
          usersMentioned.hide();
          date.hide();
          heatMap.show();
          circleMap.hide();
        }else if(element === "CircleMap"){
          hashTags.hide();
          about.hide();
          usersMentioned.hide();
          date.hide();
          heatMap.hide();
          circleMap.show();
        }

      }
    </script>
    <script type="text/javascript" src="./js/jquery.1.11.1.js"></script> 
    <script type="text/javascript" src="./js/bootstrap.js"></script> 
    <script type="text/javascript" src="./js/SmoothScroll.js"></script> 
    <script type="text/javascript" src="./js/nivo-lightbox.js"></script> 
    <script type="text/javascript" src="./js/jquery.isotope.js"></script> 
    <script type="text/javascript" src="./js/jqBootstrapValidation.js"></script> 
    <script type="text/javascript" src="./js/contact_me.js"></script> 
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>



